@import './src/styles/variables';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 400px;
  font-size: $font-xlg;
  padding: 44px 26px 32px 26px;
  background: $color-white;
  border-radius: 4px;
  box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12), 0 11px 15px rgba(0, 0, 0, 0.2);

  p:first-child{
    margin-bottom: 23px;
  }

  .IAMRole{
    margin: 17px 0;
  }

  em, span{
    letter-spacing: $letter-spacing-md;
    font-size: $font-lg;
    font-weight: 400;
    line-height: $line-height-md;
  }

  > span{
    color: $color-logan;
    margin: 16px 0;
  }

  em{
    font-style: normal;
    text-decoration: underline;
    color: $link-color;
    cursor: pointer;
  }
}



