.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & > :nth-child(1) {
    flex-grow: 1;
    max-width: 215px;
  }

  & > :nth-child(2) {
    flex-grow: 2;
    max-width: 465px;
  }
}

.buttons {
  display: flex;
  padding-left: 32px;
  gap: 10px;
  > button {
    margin: 0;
  }
  margin-bottom: 29px;

}

.btn {
  padding: 10px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* 02. Secondary/700 */
  color: #018786;
  background: #ffffff;
  border-radius: 4px;

  &:active {
    background: #018786;
    color: #ffffff;
  }
}