.row {
  height: 52px !important;
  background: #ffffff !important;
  border: 1px solid rgba(33, 33, 33, 0.08) !important;
}

.cell {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

.header {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  background-color: #ffffff;
  border: none !important;
  border-top: 1px solid rgba(33, 33, 33, 0.08) !important;
  border-bottom: none;
}

.header > div > div > span {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
}

.header > div > input {
  display: flex;
}
