<div class="login-page-main">

  <div class="main-content">
    <h1 class="header">Hello and welcome to Blueprints Solutions</h1>
    <div class="description">
      <p>
        Here you can find a list of applications (server and client) that demonstrate functionality such as: CRUD operations, files uploading, authentication (using local, Azure Active Directory and AWS Cognito strategies).
      </p>
      <p>Presented server-side apps are built with NestJS framework and client apps with ReactJS library and Angular framework.</p>
    </div>

    <div class="login-box">
      <p class="login-text">Please, log in with Microsoft account to see more information.</p>
      <button mat-stroked-button (click)="login()">
        <img src="https://docs.microsoft.com/en-us/azure/active-directory/develop/media/howto-add-branding-in-azure-ad-apps/ms-symbollockup_mssymbol_19.svg">
        Sign in with Microsoft
      </button>
    </div>

  </div>

</div>


