.btn {
  padding: 10px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  letter-spacing: 1.25px;
  text-transform: uppercase;

  /* 02. Secondary/700 */
  color: #018786;
  background: #ffffff;
  border-radius: 4px;

  &:active {
    background: #018786;
    color: #ffffff;
  }
}

.select > div {
  min-height: 56px;
  width: 230px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  flex: 1 1 auto;
  display: flex;
  gap: 20px;
}

.input {
  height: 56px;
  width: 465px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  border-left: none;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
}

.arrow_btn {
  padding: 25px;
  background-color: transparent;

  &:disabled {
    opacity: 0.4;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
